[Unit]
Description=Octopub Audits Service
After=syslog.target network.target

[Service]
SuccessExitStatus=143

Type=simple

WorkingDirectory=/opt/audits-service
ExecStart=java -jar audits-service-runner.jar
ExecStop=/bin/kill -15 $MAINPID

[Install]
WantedBy=multi-user.target